<div id="login">
    <!--<div class="header"><p>SpaceRunner</p></div>-->
    <div data-ng-show="session.token.isAuth" class="row-fluid home-login">
    </div>
    <div  class="row-fluid home-login">
        <div class="col-md-8 col-md-offset-2 text-center">
            <!--<div class="homeLogin text-center"></div>-->
            <div class="box-login">
                <div class="spaceRunnerLogo"></div>
                <div class="loginSuperContainer">
                    <form class="form-login" role="form" name="formForgot" novalidate validate-group>
                        <div class="LoginContainer">
                            <div loader="forgotPassword"></div>
                            <h4 class="form-login-heading">Login Help</h4><br>
                            <div data-ng-hide="confirm">
                                <div class="xyicon-input-group" id="pwforgot">
                                    <input type="email" validate-required validate-email id="email" name="email" class="xyicon-input-field" placeholder="Enter your Email" data-ng-model="reset.email" autofocus>
                                    <span class="xyicon-input-field-bar"></span>
                                    <label class="label-sa"  for="email">Email <span style="color:red;">*</span></label>
                                </div>
                            </div>
                            <br><br>
                            <div class="LoginContainer">
                                <ui-button-submit data-ng-show="!confirm" validate-submit name="submit" data-ng-disabled="loading" data-ng-click="requestReset()" text="Submit"></ui-button-submit>
                                <ui-button data-ng-show="!confirm" data-ng-click="go('login')" text="Cancel"></ui-button>
                                <ui-button data-ng-show="confirm" data-ng-click="go('login')" text="Back"></ui-button>
                            </div>
                            <div class="LoginContainer">
                                <br><br>
                                <p class="text-success" data-ng-show="confirm">Please check your email<br>for further information.</p>
                                <div class="text-message">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="footer" data-ng-show="!session.token.isAuth">
        <img src="{{img_url}}/Content/images/Xyicon_Logo_81by55.png" id="footerLogo" />
        &#0169; 2000-2015 Xyicon
    </div>
    <style scoped>
        body {
            background-color: #f7f7f7;
        }
        html {
            background: url("/Content/images/background_image.png");
            background-size: 100% 100%;
        }

    </style>
