<div class="box-login">
    <div class="spaceRunnerLogo"></div>
    <div class="loginSuperContainer">
        <div loader="resetPassword"></div>
        <div ng-hide="isEmailTokenValid">
            <p> Email link invalid, click below to go login help page </p>
            <a class="btn btn-md btn-info btn-block" ng-click="go('forgotPassword')">Login help page</a>
        </div>
        <div ng-show="isEmailTokenValid">
            <form class="form-login" role="form" name="formReset" validate-group novalidate>
                <div class="LoginContainer">
                    <h4 class="form-login-heading">Reset Password</h4><br>
                    <div class="xyicon-input-group" id="newPW">
                        <input validate-password id="password" name="password" type="password"  style="margin-bottom: 0;" class="xyicon-input-field" placeholder="New Password" data-ng-model="resetData.password">
                        <span class="xyicon-input-field-bar"></span>

                        <label class="label-sa" for="password">New Password <span style="color:red;">*</span></label>
                     </div>
                    <div class="xyicon-input-group">
                        <input validate-password-match="resetData.password" id="confirmPassword" name="confirmPassword" type="password" style="margin-bottom: 0;" class="xyicon-input-field" placeholder="Confirm New Password" data-ng-model="resetData.confirmPassword">
                        <span class="xyicon-input-field-bar"></span>
                        <label class="label-sa" for="confirmPassword">Confirm <span style="color:red;">*</span></label>
                    </div>                    
					<ui-button-submit validate-submit data-ng-disabled="loading" name="submit" data-ng-click="resetPassword()" text="Submit"></ui-button-submit>
                </div>                
            </form>
        </div>
        <div class="text-message" id="resetDiv">
            <p class="text-success" data-ng-show="confirm">Your password has been changed. You'll now be redirected to login page.</p>
            </div>
    </div>
</div>

<div class="footer" data-ng-show="!session.token.isAuth">
    <img src="{{img_url}}/Content/images/Xyicon_Logo_81by55.png" id="footerLogo" />
    &#0169; 2000-2015 Xyicon
</div>

<style scoped>
    body {
        background-color: #f7f7f7;
    }
    html {
        background: url("/Content/images/background_image.png");
        background-size: 100% 100%;
    }

</style>